*{
    margin: 0;
    padding: 0;
}

h1{
    color: #7f0888; 
    font-size: 96px;
    font-weight: 100;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

.bg-img{
    height: 500px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1709884735626-63e92727d8b6?q=80&w=1228&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p{
    font-size: 18px;
    text-align: justify;
    text-indent: 90px;
}